@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  padding-top: 44px;
}

a,
button {
  cursor: pointer;
  color: inherit;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.hide {
  display: none;
}

.main {
  background: linear-gradient(
          180deg,
          rgba(245, 245, 245, 0) 1.04%,
          #f5f5f5 100%
  );
}
